.pt-page-scaleDownUp {
    -webkit-animation: scaleDownUp 1s ease both;
    animation: scaleDownUp 1s ease both;
}

@-webkit-keyframes scaleDownUp {
    from { }
    to { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleDownUp {
    from { }
    to { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}

.transition-page {
    position: absolute;
    top: 0;
    height: 480vh;
    width: 100%;
    opacity: 1;
    background-color: rgb(0, 0, 0);
    z-index: 9999;
}

.locationButton {
    position: fixed;
    right: 0;
}

.gsap-landing {
    opacity: 0;
    transform: translateY(100%);

}
